# Build ignores
/[Bb]uild/
/[Bb]uilds/
/screenshots/

# CrossLife App Project ignores
CrossLife/CrossLifeApp/Library/
CrossLife/CrossLifeApp/Temp/
CrossLife/CrossLifeApp/obj/
CrossLife/CrossLifeApp/QCAR/
CrossLife/CrossLifeApp/.vs/
CrossLife/CrossLifeApp/.idea/
CrossLife/CrossLifeApp/*.sln
CrossLife/CrossLifeApp/*.csproj
CrossLife/CrossLifeApp/*.csproj.user
CrossLife/CrossLifeApp/*.unityproj
CrossLife/CrossLifeApp/*.userprefs
CrossLife/CrossLifeApp/NativePlugins/
CrossLife/CrossLifeApp/Assets/0_GITIgnore/
CrossLife/CrossLifeApp/Assets/0_GITIgnore.meta
CrossLife/CrossLifeApp/Assets/Models/
CrossLife/CrossLifeApp/Assets/Models.meta
CrossLife/CrossLifeApp/Assets/Plugins/Editor/JetBrains/
CrossLife/CrossLifeApp/Assets/Plugins/Editor/
CrossLife/CrossLifeApp/Assets/Plugins/Editor.meta
CrossLife/CrossLifeApp/Assets/Plugins/Editor/JetBrains.meta
CrossLife/CrossLifeApp/Assets/SVFUnityPlugin/PreviewAssets/
CrossLife/CrossLifeApp/Assets/2D/COMPS/
CrossLife/CrossLifeApp/Assets/2D/COMPS.meta
CrossLife/CrossLifeApp/Assets/2D/TEMP/
CrossLife/CrossLifeApp/Assets/2D/TEMP.meta
CrossLife/CrossLifeApp/Assets/StreamingAssets/ios/
CrossLife/CrossLifeApp/Assets/StreamingAssets/ios.meta
CrossLife/CrossLifeApp/Assets/StreamingAssets/android/
CrossLife/CrossLifeApp/Assets/StreamingAssets/android.meta
CrossLife/CrossLifeApp/Assets/ARSession/GoogleARCore/SDK/InstantPreview/Scripts/InstantPreview.apk.meta

#Hebrews Ignore
Hebrews/Hebrews/Library/
Hebrews/Hebrews/Temp/
Hebrews/Hebrews/obj/
Hebrews/Hebrews/QCAR/
Hebrews/Hebrews/.vs/
Hebrews/Hebrews/.idea/
Hebrews/Hebrews/*.sln
Hebrews/Hebrews/*.csproj
Hebrews/Hebrews/*.csproj.user
Hebrews/Hebrews/*.unityproj
Hebrews/Hebrews/*.userprefs
Hebrews/Hebrews/NativePlugins/
Hebrews/Hebrews/Assets/0_GITIgnore/
Hebrews/Hebrews/Assets/0_GITIgnore.meta
Hebrews/Hebrews/Assets/Models/
Hebrews/Hebrews/Assets/Models.meta
Hebrews/Hebrews/Assets/Plugins/Editor/JetBrains/
Hebrews/Hebrews/Assets/Plugins/Editor/
Hebrews/Hebrews/Assets/Plugins/Editor.meta
Hebrews/Hebrews/Assets/Plugins/Editor/JetBrains.meta
Hebrews/Hebrews/Assets/SVFUnityPlugin/PreviewAssets/
Hebrews/Hebrews/Assets/2D/COMPS/
Hebrews/Hebrews/Assets/2D/COMPS.meta
Hebrews/Hebrews/Assets/2D/TEMP/
Hebrews/Hebrews/Assets/2D/TEMP.meta
Hebrews/Hebrews/Assets/StreamingAssets/ios/
Hebrews/Hebrews/Assets/StreamingAssets/ios.meta
Hebrews/Hebrews/Assets/StreamingAssets/android/
Hebrews/Hebrews/Assets/StreamingAssets/android.meta
Hebrews/Hebrews/Assets/ARSession/GoogleARCore/SDK/InstantPreview/Scripts/InstantPreview.apk.meta

#ignore Not related folders
BudgetApp/
Prayer_App/

# OS file ignores
Thumbs.db
.DS_Store

#built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated files
bin/
gen/

# Local configuration file (sdk path, etc)
local.properties

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Android Studio
*.iml
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/
.navigation
captures/
output.json 

#NDK
obj/
.externalNativeBuild
