# Build ignores
/[Bb]uild/
/[Bb]uilds/
/screenshots/
/[Ll]ibrary/
/[Tt]emp/

# Unity Project ignores
CrossLife/CrossLifeApp/Library/
CrossLifeApp/Library/
CrossLife/CrossLifeApp/Temp/
CrossLifeApp/Temp/
CrossLife/CrossLifeApp/obj/
CrossLife/CrossLifeApp/QCAR/
CrossLife/CrossLifeApp/.vs/
CrossLife/CrossLifeApp/.idea/
CrossLife/CrossLifeApp/*.sln
CrossLife/CrossLifeApp/*.csproj
CrossLife/CrossLifeApp/*.csproj.user
CrossLife/CrossLifeApp/*.unityproj
CrossLife/CrossLifeApp/*.userprefs
CrossLife/CrossLifeApp/NativePlugins/
CrossLife/CrossLifeApp/Assets/0_GITIgnore/
CrossLife/CrossLifeApp/Assets/0_GITIgnore.meta
CrossLife/CrossLifeApp/Assets/Models/
CrossLife/CrossLifeApp/Assets/Models.meta
CrossLife/CrossLifeApp/Assets/Plugins/Editor/JetBrains/
CrossLife/CrossLifeApp/Assets/Plugins/Editor/
CrossLife/CrossLifeApp/Assets/Plugins/Editor.meta
CrossLife/CrossLifeApp/Assets/Plugins/Editor/JetBrains.meta
CrossLife/CrossLifeApp/Assets/SVFUnityPlugin/PreviewAssets/
CrossLife/CrossLifeApp/Assets/2D/COMPS/
CrossLife/CrossLifeApp/Assets/2D/COMPS.meta
CrossLife/CrossLifeApp/Assets/2D/TEMP/
CrossLife/CrossLifeApp/Assets/2D/TEMP.meta
CrossLife/CrossLifeApp/Assets/StreamingAssets/ios/
CrossLife/CrossLifeApp/Assets/StreamingAssets/ios.meta
CrossLife/CrossLifeApp/Assets/StreamingAssets/android/
CrossLife/CrossLifeApp/Assets/StreamingAssets/android.meta
CrossLife/CrossLifeApp/Assets/ARSession/GoogleARCore/SDK/InstantPreview/Scripts/InstantPreview.apk.meta
CrossLife/CrossLifeApp/Assets/Plugins/Editor/JetBrains/

# OS file ignores
Thumbs.db
.DS_Store

#built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated files
bin/
gen/

# Local configuration file (sdk path, etc)
local.properties

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Android Studio
*.iml
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/
.navigation
captures/
output.json 

#NDK
obj/
.externalNativeBuild
